

DELETE [DOMINO_DB].[dbo].[Dmn_Auth_D]
DELETE [DOMINO_DB].[dbo].[Dmn_Auth_M]
DELETE [DOMINO_DB].[dbo].[Dmn_CommonCode_D]
DELETE [DOMINO_DB].[dbo].[Dmn_CommonCode_M]
DELETE [DOMINO_DB].[dbo].[Dmn_JobOrder_AG]
DELETE [DOMINO_DB].[dbo].[Dmn_JobOrder_M]
DELETE [DOMINO_DB].[dbo].[Dmn_JobOrder_PM]
DELETE [DOMINO_DB].[dbo].[Dmn_Product_AG]
DELETE [DOMINO_DB].[dbo].[Dmn_Product_M]
DELETE [DOMINO_DB].[dbo].[Dmn_Product_PM]
DELETE [DOMINO_DB].[dbo].[Dmn_ReadBarcode]
DELETE [DOMINO_DB].[dbo].[Dmn_User]
DELETE [DOMINO_DB].[dbo].[Dmn_SerialPool]
DELETE [DOMINO_DB].[dbo].[Dmn_Serial_Expression]
DELETE [DOMINO_DB].[dbo].[Dmn_View_PMData]
DELETE [DOMINO_DB].[dbo].[Dmn_VisionResult]

INSERT INTO [DOMINO_DB].[dbo].[Dmn_Auth_D]		SELECT * FROM [DOMINO_DB_TMP].[dbo].[Dmn_Auth_D]
INSERT INTO [DOMINO_DB].[dbo].[Dmn_Auth_M]		SELECT * FROM [DOMINO_DB_TMP].[dbo].[Dmn_Auth_M]
INSERT INTO [DOMINO_DB].[dbo].[Dmn_CommonCode_D]		SELECT * FROM [DOMINO_DB_TMP].[dbo].[Dmn_CommonCode_D]
INSERT INTO [DOMINO_DB].[dbo].[Dmn_CommonCode_M]		SELECT * FROM [DOMINO_DB_TMP].[dbo].[Dmn_CommonCode_M]
INSERT INTO [DOMINO_DB].[dbo].[Dmn_JobOrder_AG]	SELECT * FROM [DOMINO_DB_TMP].[dbo].[Dmn_JobOrder_AG]
INSERT INTO [DOMINO_DB].[dbo].[Dmn_JobOrder_M]	SELECT * FROM [DOMINO_DB_TMP].[dbo].[Dmn_JobOrder_M]
INSERT INTO [DOMINO_DB].[dbo].[Dmn_JobOrder_PM]	SELECT * FROM [DOMINO_DB_TMP].[dbo].[Dmn_JobOrder_PM]
INSERT INTO [DOMINO_DB].[dbo].[Dmn_Product_AG]	SELECT * FROM [DOMINO_DB_TMP].[dbo].[Dmn_Product_AG]
INSERT INTO [DOMINO_DB].[dbo].[Dmn_Product_M]	SELECT * FROM [DOMINO_DB_TMP].[dbo].[Dmn_Product_M]
INSERT INTO [DOMINO_DB].[dbo].[Dmn_Product_PM]	SELECT * FROM [DOMINO_DB_TMP].[dbo].[Dmn_Product_PM]
INSERT INTO [DOMINO_DB].[dbo].[Dmn_ReadBarcode]	SELECT * FROM [DOMINO_DB_TMP].[dbo].[Dmn_ReadBarcode]
INSERT INTO [DOMINO_DB].[dbo].[Dmn_User]		SELECT * FROM [DOMINO_DB_TMP].[dbo].[Dmn_User]
INSERT INTO [DOMINO_DB].[dbo].[Dmn_SerialPool]	SELECT * FROM [DOMINO_DB_TMP].[dbo].[Dmn_SerialPool]
INSERT INTO [DOMINO_DB].[dbo].[Dmn_Serial_Expression]	SELECT * FROM [DOMINO_DB_TMP].[dbo].[Dmn_Serial_Expression]
INSERT INTO [DOMINO_DB].[dbo].[Dmn_View_PMData]	SELECT * FROM [DOMINO_DB_TMP].[dbo].[Dmn_View_PMData]
INSERT INTO [DOMINO_DB].[dbo].[Dmn_VisionResult]	SELECT * FROM [DOMINO_DB_TMP].[dbo].[Dmn_VisionResult]

USE [DOMINO_DB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2023-05-23 오후 2:17:11 ******/
DROP TABLE [dbo].[__MigrationHistory]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2023-05-23 오후 2:17:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO






